<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>412126122862-5evk880r6o2hv8275n3revoiekuo12tk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412126122862-5evk880r6o2hv8275n3revoiekuo12tk</string>
	<key>API_KEY</key>
	<string>AIzaSyBPxGlpsy93mBfU7Fu_N1XCN1xYQgt0bco</string>
	<key>GCM_SENDER_ID</key>
	<string>412126122862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.yellowtreesoftware.emivalInventario</string>
	<key>PROJECT_ID</key>
	<string>emival-engenharia-inventario</string>
	<key>STORAGE_BUCKET</key>
	<string>emival-engenharia-inventario.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412126122862:ios:63d83c42af84ca7ae2a77f</string>
</dict>
</plist>